<form name="myForm">
              <input type="hidden" name="_csrf" value="{{csrf}}"/>
  <div class="row">
    <div class="col-md-4" data-ng-if="user.isReviewerOrMore()">
      <!-- TODO: Status are disabled based on profiles and
      previous values. See https://github.com/geonetwork/core-geonetwork/blob/develop/web/src/main/webapp/xsl/metadata-status.xsl#L15 -->
      <div class="radio"
           data-ng-repeat="s in status | orderBy: 'displayorder'"
           data-ng-class="{disabled : cantStatus(s.id)}">
        <label>
          <input type="radio"
                 name="status"
                 value="{{::s.id}}"
                 data-ng-model="newStatus.value" data-ng-disabled="cantStatus(s.id)">
          {{s.label[lang]}}
        </label>
      </div>
    </div>
    <div ng-class="user.isReviewerOrMore() ? 'col-md-8' : 'col-md-12'">
      <div class="form-group">
        <label for="gn-change-message"
               data-translate="" ng-if="user.isReviewerOrMore()">statusLogMessage</label>
        <label for="gn-change-message"
               data-translate="" ng-if="user.isEditor()">submitLogMessage</label>
        <textarea class="form-control"
                  id="gn-change-message"
                  data-ng-model="changeMessage" 
                  placeholder="{{'noMessage' | translate}}"></textarea>
      </div>

      <div class="form-group" ng-if="newStatus.value == 2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><span data-translate="">publishToGroup</span></th>
              <th><span data-translate="">editingToGroup</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li data-ng-repeat="g in groups | filter:groupSearch | orderBy:'name'" class="list-group-item">
                    <input type="checkbox" id="group-{{g.id}}" data-ng-model="pubGroups[g.id]"/>
                    <label for="group-{{g.id}}">{{g.label[lang]|empty:g.name}}</label>
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li data-ng-repeat="g in groups | filter:groupSearch | orderBy:'name'" class="list-group-item">
                    <input type="checkbox" id="group-{{g.id}}" 
                     data-ng-style="{'visibility': internalGroups.indexOf(g.id) != -1 ? 
                                                 'hidden' : 'visible'}"
                           data-ng-model="edtGroups[g.id]"/>
                    <label for="group-{{g.id}}" data-ng-style="{'visibility': internalGroups.indexOf(g.id) != -1 ?  'hidden' : 'visible'}">{{g.label[lang]|empty:g.name}}</label>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div data-ng-show="batch">
        <p class="help-block" ng-if="user.isReviewerOrMore()"
           data-translate="">statusBatchAlert</p>
        <p class="help-block" ng-if="user.isEditor()"
           data-translate="">statusSubmitAlert</p>
      </div>

      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2">
          <button class="btn btn-primary"
                  data-gn-click-and-spin="updateStatus()">
            <i class="fa fa-bell"></i>&nbsp;
            <span ng-if="user.isReviewerOrMore()" data-translate="">updateStatus</span>
            <span ng-if="user.isEditor()" data-translate="">submitToReviewer</span>
          </button>
        </div>
      </div>

      <div class="btn-toolbar" role="toolbar" style="margin-bottom: 15px;">
        <div class="btn-group mr-2">
          <div data-gn-need-help="user-guide/workflow/life-cycle.html"
               data-icon-only="true"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div data-ng-show="report !== null" class="alert alert-info">
        <ul>
          <li data-ng-repeat="(key, value) in report">
            <span data-translate>{{key}}</span>: {{value}}
          </li>
        </ul>
      </div>
  </div>
</form>
